[submodule "MeltEngineLib/vendors/imgui"]
	path = MeltEngineLib/vendors/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "MeltEngineEditorLib/vendors/imgui"]
	path = MeltEngineEditorLib/vendors/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "MeltEngineEditorLib/vendors/IconFontCppHeaders"]
	path = MeltEngineEditorLib/vendors/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "MeltEngineLib/vendors/yaml-cpp"]
	path = MeltEngineLib/vendors/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "MeltEngineEditorLib/vendors/nativefiledialog-extended"]
	path = MeltEngineEditorLib/vendors/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
